<div class="jumbotron text-center">
	<h1>About Fre-eBooks:</h1>
	<h3>pronouced /frē bo͝oks/</h3>
	<p class="small-text">{{ home.message }}</p>
	<p class="small-text">Check out the repo <a href='{{ home.clickOut }}' target="_blank">here</a></p>
</div>
<div class="content-container clearfix">
	<div class="img-holder">
		<img src="../../images/gundamcat.png">
		<span class="small-msg"><em>message is approved by Gundamcat*</em></span>
	</div>
	<div class="about-content">
		<p>Fre-eBooks was born out of Front End Web Development(FEWD) class 50 as a resource for students who want to learn more about programming.</p>
		<p>The contents of Fre-eBooks are publicly available on Github and is open source. If you have an ebook that is not on the list and wish to share it, you can contribute to the original repo and it will be featured there.</p>
		<p>Also if you have a request for a particular ebook that is not on the list, shoot me a message on the Contact tab and I will try my best to upload it.</p>
		<p>My project is also hosted on Github, if you have any ideas to make this better, please feel free to fork me and contribute! My contact info is on the Contact page. Thanks!</p>
	</div>
</div>